*{
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(223, 219, 216);
    padding: 0px 10px;
}

.logo {
    width: 110px;
}

.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: large;
}

.search {
    margin: 10px;
}

.filter {
    padding: 10;
}

.res-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 10px;
}

.res-card {
    /* display: flex; */
    /* justify-content: center; */
    width: 220px;
    padding: 5px;
}

.res-card:hover {
    cursor: pointer;
    border: 2px solid rgba(239, 146, 114, 0.941);     
}

.res-img {
    width: 100%;
    height: 120px;
}

